*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Zilla Slab', serif;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  
}

.green{
  color: #008000;
}

/* HEADER */

header{
  position: fixed;
  z-index: 999;
  width: 80%;
  height: 13vh;
  padding-top: 60px;
}

/* nav */

header nav{
  float: right;
}

header nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  padding: 15px 20px;
  margin: 0 20px;
  font-size: 1.5rem;
  border-radius: 50%;
  color: black;
  background-color: white;
}

/* MAIN */

.schermata{
  width: 100%;
  height: 100vh;
  position: relative;
}


main #cotton-shoes{

  background-color: #ff0000;
  
}

main #leader-shoes{

  background-color: #008000;

}

main #boots-shoes{

  background-color: #ffff00;
}

/* card */

main .schermata .card{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffff00;
}

main .schermata .card .text{
  font-size: 2.8rem;
  text-transform: uppercase;
}