*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: aquamarine;
}

header{
  position: fixed;
  width: 80%;
  height: 13vh;
  padding-top: 30px;
  background-color: rgb(80, 80, 187);
}

/* nav */

nav{
  float:right;
}

ul li{
  list-style: none;
  color: black;
  background-color: aliceblue;
  display: inline-block;
  margin: 0 15px;
  padding: 20px;
  border-radius: 50%;
}

ul li a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
