*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: aquamarine;
}

header{
  position: fixed;
  width: 80%;
  height: 13vh;
  padding-top: 50px;
  border: 1px solid black;
}

/* nav */

header nav{
  float:right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  
}

nav ul li a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  color: black;
  margin: 0 15px;
  padding: 20px;
  border-radius: 50%;
}


/* section */

.schermata{
  width: 100%;
}

main section{
  width: 100%;
  height: 100vh;
}

section#cotton-shoe{
  background-color: #ff0000;
}

section#leader-shoe{
  background-color: #008000;
}

section#boots-shoe{
  background-color: #ffff00;
}

/* img */

.card{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  text-align: center;
  /*width: 60%;*/
  border: 1px solid black;
  /*margin: 0 auto;*/
  /*line-height: 100vh;*/
  /*position: relative;*/
}

.card .text h2{
  color: #ffff00;
  text-transform: uppercase;
  font-size: 2.4rem;
  

  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
} 


