*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: aquamarine;
}

header{
  position: fixed;
  width: 80%;
  height: 13vh;
  padding-top: 30px;
  border: 1px solid black;
}

/* nav */

header nav{
  float:right;
}

nav ul li{
  list-style: none;
  color: black;
  background-color: aliceblue;
  display: inline-block;
  margin: 0 15px;
  padding: 20px;
  border-radius: 50%;
}

nav ul li a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

/* section */

section::before{
  content: ' ';
  display: block;
  height: 13vh;
}

main section{
  width: 100%;
  height: 100vh;
}

section#cotton-shoe{
  background-color: #ff0000;
}

section#leader-shoe{
  background-color: #008000;
}

section#boots-shoe{
  background-color: #ffff00;
}

/* img */

.card{
  width: 60%;
  border: 1px solid black;
  margin: 0 auto;
  line-height: 100vh;
  position: relative;
}

.card img{
  
  height: 50%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .text {
  color: #ffff00;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

