*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: aquamarine;
}


